<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="../Scripts/jquery-confirm.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Stylies/style.css">
    
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/jquery-confirm.js"></script>
    <script src="../Scripts/jquery.canvasjs.min.js"></script>
    <script src="../Scripts/myScripts.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</head>
<body>

    <button id="filling">
fds
    </button>
    <div class="container" id="request-container">
    </div>
    <div class="container" id="response-container">
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit modal window</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-title">Title</label>
                        <input type="text" class="form-control" id="edit-title" name="edit-title">
                    </div>
                    <div class="form-group">
                        <label for="edit-year">Year</label>
                        <input type="number" class="form-control" id="edit-year" name="edit-year">
                    </div>
                    <div class="form-group">
                        <label for="edit-author-firstName">Author's first name</label>
                        <input type="text" class="form-control" id="edit-author-firstName" name="edit-author-firstName">
                    </div>
                    <div class="form-group">
                        <label for="edit-author-lastName">Author last name</label>
                        <input type="text" class="form-control" id="edit-author-lastName" name="edit-author-lastName">
                    </div>
                    <div class="form-group">
                        <label for="edit-category-name">Category name</label>
                        <input type="text" class="form-control" id="edit-category-name" name="edit-category-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Сообщение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="messageText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>